/* Pre Style
---------------------------------------------------- */

/* Color */
.color_primary,
.color_primary *,
.hover_color_primary:focus,
.hover_color_primary:hover,
ul.hover_color_primary>li>a:focus,
ul.hover_color_primary>li>a:hover {
  color: #2d747c !important;
}

a.color_primary:hover,
a.color_primary:hover *,
.color_primary a:hover {
  color: #28666d !important;
}

.color_secondary,
.color_secondary *,
.hover_color_secondary:focus,
.hover_color_secondary:hover,
ul.hover_color_secondary>li>a:focus,
ul.hover_color_secondary>li>a:hover {
  color: #016a77 !important;
}

a.color_secondary:hover,
a.color_secondary:hover *,
.color_secondary a:hover {
  color: #005b68 !important;
}

.subsite .color_secondary,
.subsite .color_secondary *,
.hover_color_secondary:focus,
.hover_color_secondary:hover,
ul.hover_color_secondary>li>a:focus,
ul.hover_color_secondary>li>a:hover {
  color: #06805b !important;
}

.subsite a.color_secondary:hover,
.subsite a.color_secondary:hover *,
.subsite .color_secondary a:hover {
  color: #05684a !important;
}

.color_darkestGrey,
.color_darkestGrey * {
  color: #4c5d6e !important;
}

/* Color & Background */
.bg_hover_white_color_primary:focus,
.bg_hover_white_color_primary:hover {
  color           : #2d747c !important;
  background-color: white;
}

.bg_hover_white_color_secondary:focus,
.bg_hover_white_color_secondary:hover {
  color           : #068660 !important;
  background-color: white;
}

.bg_primary,
.btn_primary,
.btn_hover_primary.uk-active,
.btn_hover_primary:hover,
.bg_hover_primary:hover,
.hover_primary li>a:hover,
.hover_primary li.uk-active>a,
ul.bg_hover_primary>li>a:focus,
ul.bg_hover_primary>li>a:hover,
ol.listDecimalRow.listBadge>li:before {
  color           : white !important;
  background-color: #31818a !important;
}

.bg_secondary,
.btn_secondary,
.btn_hover_secondary.uk-active,
.btn_hover_secondary:hover,
.hover_bg_secondary:hover,
.hover_secondary li>a:hover,
.hover_secondary li.uk-active>a,
ul.hover_bg_secondary>li>a:focus,
ul.hover_bg_secondary>li>a:hover,
ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {
  color           : white;
  background-color: #016a77 !important;
}

.subsite .bg_secondary,
.subsite .subsite .btn_secondary,
.subsite .btn_hover_secondary.uk-active,
.subsite .btn_hover_secondary:hover,
.subsite .hover_bg_secondary:hover,
.subsite .hover_secondary li>a:hover,
.subsite .hover_secondary li.uk-active>a,
.subsite ul.hover_bg_secondary>li>a:focus,
.subsite ul.hover_bg_secondary>li>a:hover,
.subsite ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {
  color           : white;
  background-color: #068660 !important;
}

.bg_khaki {
  color           : white;
  background-color: #e3dfcf !important;
}

.bg_darkestGrey,
.btn_darkestGrey {
  color           : white !important;
  background-color: #4c5d6e !important;
}

/* Button & Background */
.btn_primary:focus,
.btn_primary:hover,
.btn_primary.selected {
  background-color: #2d747c !important;
}

.btn_secondary:focus,
.btn_secondary:hover {
  background-color: #005b68 !important;
}

.subsite .btn_secondary:focus,
.subsite .btn_secondary:hover {
  background-color: #06805b !important;
}

/* Border */
.border_primary,
.border_primary li[class*=active] a,
.border_primary li a[class*=open],
.border_primary li a:hover,
.border_hover_primary:focus,
.border_hover_primary:hover {
  border-color: #31818a !important;
}

.border_secondary,
.border_secondary li[class*=active] a,
.border_secondary li a[class*=open],
.border_secondary li a:hover,
.border_hover_secondary:focus,
.border_hover_secondary:hover {
  border-color: #016a77 !important;
}

.subsite .border_secondary,
.subsite .border_secondary li[class*=active] a,
.subsite .border_secondary li a[class*=open],
.subsite .border_secondary li a:hover,
.subsite .border_hover_secondary:focus,
.subsite .border_hover_secondary:hover {
  border-color: #068660 !important;
}

/* End Pre Style
---------------------------------------------------- */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Style */

body {
  background: #F5F5F5;
}

.fontsize li>a {
  color : #31818a !important;
  border: 1px solid #31818a;
}

.fontsize li.uk-active>a,
.fontsize li.uk-open>a,
.fontsize li>a:focus,
.fontsize li>a:hover {
  background  : #31818a !important;
  border-color: #31818a;
  color       : white !important;
}

.bg_img_gradient {
  background     : linear-gradient(to right, rgba(213, 227, 230, 0.8) 0%, rgba(213, 227, 230, 0.9) 50%, rgba(213, 227, 230, 0.8) 100%), url(../img/blank.gif) no-repeat center center;
  background     : radial-gradient(ellipse at 50% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(../img/blank.gif) no-repeat center center;
  background-size: cover;
  box-shadow     : inset 0 2px 50px 2px rgba(74, 123, 134, 0.5);
}

.listTabs .uk-list {
  border-top: 1px solid #E5E5E5;
}

.listTabs a {
  line-height: 30px;
  padding    : 5px 10px;
}

.uk-nav-side ul a {
  color: #444;
}

.listTabs a:hover,
.listTabs .uk-active a,
.nav_side a:hover,
.nav_side .uk-active a {
  color           : white !important;
  background-color: #31818a;
  text-decoration : none;
}

.listTabs .uk-grid-divider>li,
.listTabs .uk-grid-divider>li:last-child:nth-child(odd) {
  border-right: 1px solid #E5E5E5;
}

.listTabs .uk-grid-divider>li:nth-child(even),
.listTabs .uk-grid-divider>li:last-child {
  border-right: 0;
}

.listTabs .uk-grid-divider>li:last-child:nth-child(odd) a {
  border-bottom: 0;
}

.listTabs .uk-nav {
  border       : 1px solid #E5E5E5;
  border-bottom: 2px solid #dcdada;
}

.listTabs .uk-nav>li {
  border-bottom: 1px solid #E5E5E5;
}

.listTabs .uk-nav>li:last-child:nth-child(odd) {
  border-bottom: none;
}

.listTabs .uk-nav a {
  color  : #31818a;
  padding: 5px 15px;
}

.listTabs.listIconIndent .uk-nav a {
  padding-left: 35px;
  text-indent : -20px;
}

.listTabs.listIconIndent .uk-nav a span {
  text-indent: 0;
}

.listTabs .uk-nav>li:not(.uk-active):not(.uk-parent)>a,
.listTabs .uk-nav>li:not(.level3) li:not(.uk-active):not(.uk-parent)>a,
.listTabs .uk-nav>li.level3 li li:not(.uk-active):not(.uk-parent)>a {
  padding-left: 25px;
}

.listTabs .uk-nav>li.uk-open>a,
.nav_side .uk-nav>li.uk-open>a {
  background: #c1ced4 !important;
  color     : white !important;
}

.listTabs .uk-active>a,
.listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li.level3 li li>a {
  color           : #31818a !important;
  background-color: transparent;
}

.listTabs .uk-nav li a:hover,
.listTabs .uk-nav>li.uk-active>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover .nav_side .uk-nav li a:hover,
.nav_side .uk-nav>li.uk-active>a {
  background: #31818a;
  color     : white !important;
}

.listTabs .uk-nav>li.level3 li>a,
.listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #31818a;
  color     : white !important;
}

.listTabs.listTabs_grey .uk-nav a {
  color: #a9afb1;
}

.listTabs.listTabs_grey .uk-nav li a:hover,
.listTabs.listTabs_grey .uk-nav>li.uk-active>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #cfd8dc;
}

.listTabs.listTabs_secondary .uk-nav a {
  color: #31818a;
}

.listTabs.listTabs_secondary .uk-nav li a:hover,
.listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover .nav_side.nav_side_secondary .uk-nav li a:hover,
.nav_side.nav_side_secondary .uk-nav>li.uk-active>a {
  background: #31818a;
}

.list_tab-button>.uk-active>a,
.list_tab-button>*>a:hover {
  border    : none;
  background: #31818a;
}

#slideshow .uk-position-bottom-center {
  width: 100%;
}

#slideshow .uk-position-bottom-center .uk-dotnav {
  justify-content: center;
}

.index #slideshow .uk-position-bottom-right {
  left     : 50%;
  transform: translateX(-50%);
  width    : max-content;
  max-width: 100%;
}

@media (min-width:640px) {
  .index #slideshow .uk-position-bottom-right {
    bottom   : 0;
    right    : 0;
    left     : auto;
    width    : calc(100% * 1 / 3.001);
    max-width: calc(100% - (15px * 2));
    transform: translateX(0);
  }
}

@media (min-width:960px) {
  .index #slideshow .uk-position-bottom-right {
    width: 25%;
  }
}

@media (min-width:1200px) {
  .index #slideshow .uk-position-bottom-right {
    width: 20%;
  }
}

.index .uk-navbar-toggle-icon>svg {
  min-width: 30px;
}

.index .uk-slideshow-items h2.fontSizeH5 {
  font-size: 0.9rem !important;
}

@media (min-width:640px) {
  .index .uk-slideshow-items h2.fontSizeH5 {
    font-size: inherit !important;
  }
}

@media screen and (max-device-width: 959px) and (orientation:landscape) {
  #slideshow {
    display: none;
  }
}

.list .uk-card-body {
  padding: 10px;
}

.list .uk-card-body>h2 {
  display      : inline-flex;
  margin-bottom: 5px;
}

footer,
footer a {
  color: white !important;
}

#footer {
  background: linear-gradient(to bottom, #657382 0%, #435261 100%);
}

/* #footer>div:first-child {background-color: #4c5d6e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.12' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");} */

/* Bootstrap 4 Style
---------------------------------------------------- */

.list-group-item.active,
.list-group-item.active>a,
.list-group-item .active>a,
.list-group-item .uk-active>a {
  background-color: #31818a;
  border-color    : #31818a;
  color           : white;
}
.list-group-item.active>a::after {
  color           : white;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='1.03' points='13 16 7 10 13 4'%3E%3C/polyline%3E%3C/svg%3E");
}
.list-group-item.uk-open>a::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E") !important;
}
.list-group-item .list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.list-group-item.active {
  border-color: #dfdfdf;
}
/* End Bootstrap 4 Style
---------------------------------------------------- */

/* Uikit 3 Style
---------------------------------------------------- */

.uk-pagination>.uk-active>span,
.uk-subnav-pill>.uk-active>a {
  background: #31818a;
  color     : #fff;
}

;

/* End Uikit 3 Style
---------------------------------------------------- */


/* Editor
---------------------------------------------------- */
.ckeditor [style*="標楷體"] {
  font-family: 標楷體 !important;
}

.ckeditor [style*="細明體"] {
  font-family: 細明體 !important;
}

.ckeditor.table {
  display: block !important;
}

.ckeditor table {
  width             : 100%;
  /* margin         : 20px 0; */
  border-collapse   : inherit;
  /* word-break     : break-all;
  white-space       : normal; */
}

.ckeditor table[border]:not(.uk-table) {
  border-collapse: collapse;
}

.ckeditor table[border]:not([border="0"]):not(.uk-table) th,
.ckeditor table[border]:not([border="0"]):not(.uk-table) td {
  padding: 0 5px;
}

.ckeditor table[border="0"]:not(.uk-table) {
  border-collapse: inherit;
}

.ckeditor table:not([border="0"]):not(.uk-table),
.ckeditor table:not([border="0"]):not(.uk-table) th,
.ckeditor table:not([border="0"]):not(.uk-table) td {
  border: 1px solid black;
}

/* @media (max-width: 959px) {

  .ckeditor.tableblock table,
  .ckeditor.tableblock table caption,
  .ckeditor.tableblock table thead,
  .ckeditor.tableblock table tbody,
  .ckeditor.tableblock table th,
  .ckeditor.tableblock table td,
  .ckeditor.tableblock table tr {
    display: block;
    width  : 100% !important;
  }

  .ckeditor.tableblock.table4896 table tr:first-child td:not(:last-child) {
    display: none;
  }
}

@media (max-width: 1119px) {
  .ckeditor.tablescroll #content {
    overflow                  : auto;
    -webkit-overflow-scrolling: touch;
    display                   : block !important;
  }

  .ckeditor.tablescroll table {
    min-width: 1000px;
  }

  .ckeditor.tablescroll table:last-of-type {
    margin-bottom: 0;
  }
} */

/*--- Stack table ---*/
@media (max-width: 959px) {

  .ckeditor table:not(.scroll_table):not(.uk-table),
  .ckeditor table:not(.scroll_table):not(.uk-table) caption,
  .ckeditor table:not(.scroll_table):not(.uk-table) thead,
  .ckeditor table:not(.scroll_table):not(.uk-table) tbody,
  .ckeditor table:not(.scroll_table):not(.uk-table) th,
  .ckeditor table:not(.scroll_table):not(.uk-table) td,
  .ckeditor table:not(.scroll_table):not(.uk-table) tr {
    display: block;
    width  : 100% !important;
  }

  .ckeditor table:not(.scroll_table):not(.uk-table) thead,
  .ckeditor table:not(.scroll_table):not(.uk-table) th,
  .ckeditor.tableblock.table4896 table tr:first-child td:not(:last-child) {
    display: none;
  }

  .ckeditor table[border]:not([border="0"]):not(.uk-table) {
    border: none !important;
    margin: 20px 0;
  }

  /* .ckeditor table:not(.scroll_table):not(.uk-table) *:not([class*=fa]):not(img) {
    width      : auto !important;
    height     : auto !important;
    max-width  : none !important;
    min-width  : 0 !important;
    overflow   : visible !important;
    white-space: normal !important;
  } */

  .ckeditor table[border]:not([border="0"]):not(.uk-table) td {
    border       : none;
    border-bottom: 1px solid black;
    border-left  : 1px solid black;
    border-right : 1px solid black;
    padding      : 5px;
  }

  .ckeditor table[border]:not([border="0"]):not(.uk-table) tr th:first-child,
  .ckeditor table[border]:not([border="0"]):not(.uk-table) tr td:first-child {
    border-top: 1px solid black;
  }

  .ckeditor table:not(.scroll_table):not(.uk-table) span.heading {
    display         : inline-block;
    color           : white;
    background-color: #757575;
    margin-right    : 10px;
    padding         : 0 5px;
  }
}

/* @media (max-width: 1119px) {
  .ckeditor.tablescroll #content {
    overflow                  : auto;
    -webkit-overflow-scrolling: touch;
    display                   : block !important;
  }

  .ckeditor.tablescroll table {
    min-width: 1000px;
  }

  .ckeditor.tablescroll table:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .ckeditor table:not(.scroll_table):not(.uk-table) span.heading {
    display: none;
  }
} */
/*--- End stack table ---*/

.ckeditor ul:not(.list_arrow):not([uk-switcher]):not(.uk-switcher) {
  list-style: disc;
}

.ckeditor ol {
  list-style: decimal;
}

.ckeditor ul:not([uk-switcher]):not(.uk-switcher) {
  padding-left       : 20px;
  list-style-position: inside;
}

.ckeditor ul.list_arrow {
  padding-left: 0;
}

.ckeditor ul>li>*,
.ckeditor ol>li>* {
  vertical-align: top;
}

.ckeditor h1,
.ckeditor h2,
.ckeditor h3,
.ckeditor h4,
.ckeditor h5,
.ckeditor h6,
.ckeditor a:not([class*=btn_]):not([class*=uk-button]),
.ckeditor .h3,
.ckeditor .h4,
.ckeditor .h5,
.ckeditor .h6 {
  color           : #31818a !important;
  /* margin-top   : 40px; */
  /* margin-bottom: 20px; */
}

.ckeditor .uk-card h1,
.ckeditor .uk-card h2,
.ckeditor .uk-card h3,
.ckeditor .uk-card h4,
.ckeditor .uk-card h5,
.ckeditor .uk-card h6 {
  color: #333 !important;
}

.ckeditor h3,
.ckeditor .h3 {
  position    : relative;
  padding-left: 17px;
}

.ckeditor .uk-card>h3 {
  padding: 0;
}

.ckeditor h3::before,
.ckeditor .h3::before {
  display               : inline-block;
  font-style            : normal;
  font-variant          : normal;
  text-rendering        : auto;
  -webkit-font-smoothing: antialiased;
  font-family           : "Font Awesome 5 Free";
  font-weight           : 900;
  content               : "\f0da";
  padding-right         : 10px;
  content               : "▶";
  font-size             : 0.9rem;
  position              : absolute;
  top                   : calc(50% - 24px/2);
  left                  : 0;
  -webkit-transform     : scaleX(0.7) translate(-4px, 0);
  -ms-transform         : scaleX(0.7) translate(-4px, 0);
  transform             : scaleX(0.7) translate(-4px, 0);
}

.ckeditor .uk-card h3::before {
  display: none;
}

.ckeditor h1,
.ckeditor .h1,
.ckeditor h2,
.ckeditor .h2,
.ckeditor h3,
.ckeditor .h3,
.ckeditor h4,
.ckeditor .h4,
.ckeditor h5,
.ckeditor .h5,
.ckeditor h6,
.ckeditor .h6,
.ckeditor p {
  margin: 5px 0;
}

.ckeditor h1,
.ckeditor .h1,
.ckeditor h2,
.ckeditor .h2,
.ckeditor h3,
.ckeditor .h3,
.ckeditor h4,
.ckeditor .h4,
.ckeditor h5,
.ckeditor .h5,
.ckeditor h6,
.ckeditor .h6 {
  font-weight: bold;
}

.ckeditor h1,
.ckeditor .h1 {
  font-size: calc(36rem/18) !important;
}

.ckeditor h2,
.ckeditor .h2 {
  font-size: calc(32rem/18) !important;
}

.ckeditor h3,
.ckeditor .h3 {
  font-size: calc(24.75rem/18) !important;
}

.ckeditor h4,
.ckeditor .h4 {
  font-size: calc(22.5rem/18) !important;
}

.ckeditor h5,
.ckeditor .h5 {
  font-size: calc(18rem/18) !important;
}

.ckeditor h6,
.ckeditor .h6 {
  font-size: calc(15.75rem/18) !important;
}

.ckeditor img,
.ckeditor a:not([class*=btn_]):not([class*=uk-button]),
.ckeditor span,
.ckeditor label,
.ckeditor strong,
.ckeditor small {
  display: inline;
}

.ckeditor table img {
  display: inline-block;
}

.ckeditor .uk-subnav>*:first-child {
  padding-left: 0;
}

.ckeditor .uk-subnav-pill {
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 10px;
  margin-left  : 0;
}

.ckeditor .uk-subnav-pill a {
  color           : #666 !important;
  background-color: #f8f8f8;
  text-decoration : none !important;
}

.ckeditor .uk-subnav-pill a:hover {
  background-color: #f1f1f1;
  /* color        : #000 !important; */
}

.ckeditor .uk-subnav-pill>.uk-active>a {
  background: #31818a;
  color     : #fff !important;
}

/*----Fix Bootstrap----*/
caption {
  caption-side: inherit;
}

.ckeditor.table td,
.ckeditor.table th,
.ckeditor.table thead th {
  border: inherit;
}

/*----End Fix Bootstrap----*/

.ckeditor .table_center th,
.ckeditor .table_center td {
  text-align: center;
}

.ckeditor>*:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

.ckeditor {
  position: relative;
}
.ckeditor .letter1 {
  background-image: url(../img/letterbg1.png);
  background-position: 50% 100%;
  background-color: #f9fdfd;
  padding: 20px;
  padding-bottom: 40%;
}
.ckeditor .letter2 {
  background-image: url(../img/letterbg2top.png), url(../img/letterbg2btm.png);
  background-position: 50% 0%, 50% 100%;
  background-color: #fcf8fa;
  padding: 20px;
  padding-bottom: 15%;
}
@media (min-width: 960px) {
  .ckeditor .letter2 {
    padding: 10% 20%;
  }
}

/* End Editor
---------------------------------------------------- */

.list_tabs>li.active>a,
.list_tabs>li.active>a:focus,
.list_tabs>li.active>a:hover,
.list_tabs>li .active>a,
.list_tabs>li .uk-active>a {
  background-color: #31818a !important;
  color           : white !important;
}

h2.btmline.text-justify {
  text-align: left !important;
  font-size : 1.2rem !important;
}

@media (min-width: 960px) {
  h2.btmline.text-justify {
    font-size: 1.6875rem !important;
  }
}

/* ----------- IE10+ ----------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .height_fixIE {
    height: 100%;
  }

  .uk-dropdown-nav li>* {
    display: block !important;
  }

}

.bg_gradient {
  background: linear-gradient(to right, #068660 0%, #2d747c 100%);
}

.bg_gradient * {
  color: white;
}

/* Sub site
---------------------------------------------------- */
/* .subsite .list, .subsite .list .uk-card {
  position: relative;
}
.subsite * {
  z-index: 0;
}
.subsite .list .uk-dropdown {
  z-index: 1;
} */

/* .subsite header {
  position: relative;
} */

.subsite .logo img {
  background: url("../img/logo.svg#svgView(preserveAspectRatio(xMinYMid))") left center no-repeat;
  height    : 40px;
}

.subsite .logo img,
.subsite .logo>a {
  width: calc(248/50*40px);
}

.subsite .logo,
.subsite .logo_txt {
  width: 50%;
}

.subsite .logo_txt a:hover {
  text-decoration: none;
}

.subsite .logo_txt a:hover>* {
  color: black !important;
}

.subsite .logo_cht {
  font-size: 1rem;
}

.subsite .vline {
  width           : 3px;
  min-height      : 40px;
  margin          : 0 10px;
  background-color: black;
}

.subsite .logo_eng {
  font-size: 0.6rem;
}

@media (min-width: 640px) {

  .subsite .logo,
  .subsite .logo_txt {
    width: auto;
  }

  .subsite .logo_cht {
    font-size: 1.2rem;
  }

  .subsite .logo_eng {
    font-size: 0.8rem;
  }
}

.subsite .center {
  justify-content: left;
  /* align-items : center!important; */
}
.subsite .news ,.subsite .download ,.subsite .question ,.subsite .doctor {
  height: 100%;
  max-height: 100%;
}

@media (min-width: 960px) {
  .subsite .center {
    justify-content: center;
  }
}

.subsite .uk-navbar-toggle {
  min-width : 40px;
  min-height: 40px;
}

.subsite header nav::before {
  content        : "";
  display        : block;
  position       : absolute;
  width          : 100%;
  height         : 100%;
  background     : url(../img/bg_header.jpg) no-repeat center center;
  background-size: cover;
  opacity        : .5;
}

@media (min-width: 640px) {
  .subsite .doctor .thisRatio1_1 {
    max-width: 300px;
  }
}

/* .subsite header nav>:first-child {
  background-color: rgba(255, 255, 255, 0) !important;
} */
.subsite .question {
  overflow-y: auto;
}

/* .subsite .doctor.overflow_hidden {
  overflow: inherit;
  padding-bottom: 0;
}
.subsite .doctor.overflow_hidden:after {
  display: none;
} */

@media (min-width: 960px) {
  .max_h200.max_h700M.uk-overflow-auto {
    max-height: inherit;
  }
}

.uk-logo>img, footer>div:first-child img  {
  max-height: 50px;
}
header nav .px-3.uk-visible\@m.uk-navbar {
  padding: 0 !important;
}
footer>div:first-child img {
  width: 330px;
}
@media (min-width:960px) {
  .uk-navbar-left img {
    width: 90px;
  }
  .uk-navbar-right img {
    width: 150px;
  }
  .uk-logo>img, footer>div:first-child img {
    max-height: 50px;
  }
  header nav .px-3.uk-visible\@m.uk-navbar {
    padding-left: 5px !important;
  }
}
@media (min-width: 1200px) {
  .uk-navbar-left img {
    width: 150px;
  }
  .uk-navbar-right img, footer>div:first-child img {
    width: 230px;
  }
  .uk-logo>img, footer>div:first-child img {
    max-height: 80px;
  }
  header nav .px-3.uk-visible\@m.uk-navbar {
    padding-left: 50px !important;
  }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Style */


/*bs-sm*/
@media (min-width: 576px) {}

/*uk-@s*/
@media (min-width:640px) {}

/*bs-md*/
@media (min-width:768px) {}

/*uk-@m*/
@media (min-width:960px) {}

/*bs-lg*/
@media (min-width: 992px) {}

/*uk-@l, bs-xl*/
@media (min-width: 1200px) {}

/*uk-@xl*/
@media (min-width:1600px) {}

/* Portrait */
@media screen and (orientation:portrait) {}

/* Landscape */
@media screen and (max-device-width: 959px) and (orientation:landscape) {}